{% extends 'adminNavbar.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if alert %}
            <div class="alert alert-success">{{ alert }}</div>
            {% endif %}
            <form action="/add_artikel/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark">Tambah Artikel</button>
            <a href="/artikel" class="btn btn-danger">Kembali</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}