{% extends 'homeNavbar.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="main row d_flex">
            <div class="col-md-6">
                <div class="text-bg">
                    <h1>
                        <font color="#53344c">READIC</font>
                    </h1>
                    <p><font color="#53344c">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis varius lobortis. Nunc consequat feugiat consectetur. Sed in nunc id sem placerat viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec a molestie libero. Duis non odio sit amet massa faucibus ultrices at non augue.
                    </font></p>
                </div>
            </div>
            <div class="jumbotr col-lg-6">
                {% for jumbotr in jumbotr %}
                {% if jumbotr.image %}
                <img src="{{ jumbotr.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                {% for artikel in artikel %}
                <div class="card shadow">
                    {% if artikel.cover %}
                    <img src="{{ artikel.cover.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ artikel.judul }}</h5>
                        <p class="card-text">{{ artikel.deskripsi }}</p>
                        <a href="{% url 'read_artikel' artikel.id %}" class="btn btn-success">Baca</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}